# https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html
#
alias gccansi="gcc -ansi -Wall -g -O0 -Wshadow -pedantic -Wextra"
alias goc="cd ~/prog/c"
alias gojava="cd ~/prog/Java/"
alias goVBA="cd /mnt/d/Prog/VBA/Projects/TSAR/ovktsar"
alias goPascal="cd /mnt/d/Prog/pascal/src"
alias gospring="cd ~/prog/Java/spring/"
alias ls="lsd -F"
alias la="lsd -AF"
alias ll="lsd -lAF"
alias lg="lsd -F --group-dirs=first"
alias tree="lsd -AF --tree"
alias cat="bat --style=plain"
