if [[ "${NAME}" == APASHKIN ]]; then
    alias cdjava="cd /mnt/c/Users/a.pashkin/ideaProjects"
elif [[ "${NAME}" == TROOPER ]]; then
    alias cdjava="cd ~/prog/java/IDEA"
    alias cdvba="cd /mnt/d/prog/VBA/Projects/TSAR/ovktsar"
    alias cdpascal="cd /mnt/d/prog/pascal/src"
    alias cdc="cd ~/prog/c"
fi

alias gccansi="gcc -ansi -Wall -g -O0 -Wshadow -pedantic -Wextra"
alias ls="lsd -F"
alias la="lsd -AF"
alias ll="lsd -lAF"
alias lg="lsd -F --group-dirs=first"
alias tree="lsd -AF --tree"
alias cat="bat --style=plain"
