alias cdc="cd ~/prog/c"
alias cdjava="cd ~/prog/Java/study-core"
alias cdvba="cd /mnt/d/prog/VBA/Projects/TSAR/ovktsar"
alias cdpascal="cd /mnt/d/prog/pascal/src"

alias gccansi="gcc -ansi -Wall -g -O0 -Wshadow -pedantic -Wextra"
alias ls="lsd -F"
alias la="lsd -AF"
alias ll="lsd -lAF"
alias lg="lsd -F --group-dirs=first"
alias tree="lsd -AF --tree"
alias cat="bat --style=plain"
